<div align="right"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=170932962968661&amp;xfbml=1"></script><a href="http://www.facebook.com/SelfAssessment" target="_blank">Facebook: </a><fb:like href="http://www.facebook.com/SelfAssessment" send="false" layout="button_count" width="90" show_faces="false" action="recommend" font=""></fb:like></div>

<p>testMaker is a web-based software for displaying, delivering and evaluating psychometric tests. It is primarily designed to meet the needs of web-based self tests with a feedback (self-assessments), but can also be used for other kinds of online surveys. No programming or HTML knowledge is required to create and use tests with testMaker.</p>

<p>testMaker was developed by the <a href="http://www.bopsych.rwth-aachen.de/" title="Department of Industrial and Organizational Psychology">Department of Industrial and Organizational Psychology</a> of Prof. Dr. Lutz F. Hornke at <a href="http://www.rwth-aachen.de/" title="RWTH Aachen University">RWTH Aachen University</a> in Germany. It is released under the terms of the <a href="http://www.gnu.org/licenses/" target="_blank" title="GNU General Public License">GNU General Public License (version 2)</a> as published by the Free Software Foundation. You can <a href="https://sourceforge.net/projects/testmaker/" title="Download" target="_blank">Download</a> the latest Version on SourceForge.</p>

<p>For more information, please visit the <a href="http://www.global-assess.rwth-aachen.de/testmaker-wiki/" title="testMaker project website">project website</a>. You can contact
the project team via <a href="mailto:assess@rwth-aachen.de" title="testMaker project team">e-mail</a>.</p>

<h3>Installed version</h3>
<p>This is <strong>testMaker {tm_version}</strong><!-- BEGIN update -->; the last database update was performed on <strong>{tm_stamp:datetime}</strong><!-- END update -->.</p>

<h3>Developement of testMaker</h3>
<p>The following people have made substantial contributions to shape testMaker into what it is today:</p>
<p>Felix Buse, André Couturier, Ralph Delzepich, Peter Faltin, David Haase, Verena Hartweg, Dennis Kehrig, Jan Krüger, Annika Milbradt, Thomas Münzer, Felix Ostrowski, Janina Pfeiffer, Patrick Wallukat, Alexander Zimmerhofer.</p>

<h3>Reference for citations:</h3>
<p><i>
Milbradt, A.; Zimmerhofer, A. &amp; Hornke, L. F. (2007-{year}). testMaker - a computer software for web-based assessments. RWTH Aachen University, Department of Industrial and Organizational Psychology.
</i></p>
