<div align="right"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=170932962968661&amp;xfbml=1"></script><a href="http://www.facebook.com/SelfAssessment" target="_blank">Facebook: </a><fb:like href="http://www.facebook.com/SelfAssessment" send="false" layout="button_count" width="90" show_faces="false" action="recommend" font=""></fb:like></div>

<p>testMaker ist eine webbasierte Software zur Darstellung, Durchführung und Auswertung von Tests und Befragungen. In erster Linie ist testMaker auf die Bedürfnisse von webbasierten Selbsttests mit Ergebnisrückmeldung (Self-Assessments) zugeschnitten, er kann aber auch für andere Online-Befragungen eingesetzt werden. Für den Einsatz von testMaker sind weder Programmier- noch HTML-Kenntnisse erforderlich.</p>


<p>testMaker wurde am <a href="http://www.bopsych.rwth-aachen.de/" title="Lehrstuhl f&uuml;r Betriebs- und Organisationspsychologie">Lehrstuhl f&uuml;r Betriebs- und Organisationspsychologie</a> von Prof. Dr. Lutz F. Hornke der 
  <a href="http://www.rwth-aachen.de/" title="RWTH Aachen">RWTH Aachen</a> entwickelt. Die Software testMaker ist unter den Bedingungen der <a href="http://www.gnu.org/licenses/" target="_blank" title="GNU General Public License">GNU General Public License (Version 2)</a> der Free Software Foundation ver&ouml;ffentlicht. Die jeweils aktuelle Version steht bei SourceForge zum <a href="https://sourceforge.net/projects/testmaker/" title="Download" target="_blank">Download</a> bereit.</p>

<p>Weitere Informationen über testMaker finden sich im <a href="http://www.global-assess.rwth-aachen.de/testmaker-wiki/" title="testMaker Projekt-Webseite">testMaker Wiki</a>. Das Projektteam ist auch per <a href="mailto:assess@rwth-aachen.de" title="testMaker Projektteam">E-Mail</a> zu erreichen.</p>

<h4>Installierte Version</h4>
<p>Dies hier ist <strong>testMaker {tm_version}</strong><!-- BEGIN update -->; das letzte Datenbankupdate wurde am <strong>{tm_stamp:datetime}</strong> durchgeführt<!-- END update -->.</p>

<h4>Entwicklung des testMakers</h4>
<p>Folgende Personen haben maßgeblich dazu beigetragen, dass testMaker zu dem werden konnte, was er jetzt ist:</p>

<p>Felix Buse, André Couturier, Ralph Delzepich, Peter Faltin, David Haase, Verena Hartweg, Dennis Kehrig, Jan Krüger, Annika Milbradt, Thomas Münzer, Felix Ostrowski, Janina Pfeiffer, Patrick Wallukat, Alexander Zimmerhofer.</p>

<h4>Quellenangabe für Zitationen:</h4>
<p><i>
Milbradt, A.; Zimmerhofer, A. &amp; Hornke, L. F. (2007-{year}). testMaker - a computer software for web-based assessments. RWTH Aachen University, Department of Industrial and Organizational Psychology.
</i></p>
