<div class="lotsoftext">

<p>
	You are now on the editor's overview page of testMaker.</p>

<p>
	To the left you see the navigation menu that you can use to browse through
	tests and their elements, and command buttons with which you can create
	new tests and other elements.</p>

<p>
	For more help, please consult the online help. You can access help pages
	by clicking on the red question mark on the upper right corner on each page:</p>

	<blockquote style="margin:1em 0"><img src="portal/images/help_on.png"
	alt="Hilfe" border="0" width="22" height="22" /></blockquote>
<p>
	The online help for this page gives you
	a more elaborate introduction to the user interface along with a quick
	start guide.</p>

</div>
