<div class="lotsoftext">

<p>
	Sie befinden sich auf der Übersichtsseite des testMakers.</p>

<p>
	Auf der linken Seite befindet sich das Navigationsmenü, mit welchem Sie
	in den erstellten Test navigieren können, und die Aktionsbuttons,
	mit denen Sie neue Tests erstellen können.</p>

<p>
	Für eine ausführlichere Hilfe schauen Sie bitte in unserem Hilfesystem nach.
	Dieses ist auf jeder Seite über das nachfolgend abgebildete rote Fragezeichen aufrufbar:</p>

	<blockquote style="margin:1em 0"><img src="portal/images/help_on.png"
	alt="Hilfe" border="0" width="22" height="22" /></blockquote>
<p>
	Auf der Hilfeseite zu dieser Seite erhalten Sie einen etwas
	detaillierteren Einblick in die Benutzeroberfläche und Bedienung von
	testMaker.</p>

</div>
