<div style="text-align:right;display:block;position:static;border:0" class="color">
	<button type="button" onclick="closeChooser()" style="border:1px solid #ccc;border-top:0;background:#fff;color:#000;margin-right:3px" title="func_T(generic.close)">x</button>
</div>
<table>
	<tr>
		<td><button type="button" value="#ff8080" style="background:#ff8080" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#ffff80" style="background:#ffff80" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#80ff80" style="background:#80ff80" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#00ff80" style="background:#00ff80" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#80ffff" style="background:#80ffff" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#0080ff" style="background:#0080ff" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#ff80c0" style="background:#ff80c0" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#ff80ff" style="background:#ff80ff" onclick="writeColor(this.value)"></button></td>
	</tr>
	<tr>
		<td><button type="button" value="#ff0000" style="background:#ff0000" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#ffff00" style="background:#ffff00" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#80ff00" style="background:#80ff00" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#00ff40" style="background:#00ff40" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#00ffff" style="background:#00ffff" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#0080c0" style="background:#0080c0" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#8080c0" style="background:#8080c0" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#ff00ff" style="background:#ff00ff" onclick="writeColor(this.value)"></button></td>
	</tr>
	<tr>
		<td><button type="button" value="#804040" style="background:#804040" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#ff8040" style="background:#ff8040" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#00ff00" style="background:#00ff00" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#008080" style="background:#008080" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#004080" style="background:#004080" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#8080ff" style="background:#8080ff" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#800040" style="background:#800040" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#ff0080" style="background:#ff0080" onclick="writeColor(this.value)"></button></td>
	</tr>
	<tr>
		<td><button type="button" value="#800000" style="background:#800000" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#ff8000" style="background:#ff8000" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#008000" style="background:#008000" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#008040" style="background:#008040" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#0000ff" style="background:#0000ff" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#0000a0" style="background:#0000a0" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#800080" style="background:#800080" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#8000ff" style="background:#8000ff" onclick="writeColor(this.value)"></button></td>
	</tr>
	<tr>
		<td><button type="button" value="#400000" style="background:#400000" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#804000" style="background:#804000" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#004000" style="background:#004000" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#004040" style="background:#004040" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#000080" style="background:#000080" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#000040" style="background:#000040" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#400040" style="background:#400040" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#400080" style="background:#400080" onclick="writeColor(this.value)"></button></td>
	</tr>
	<tr>
		<td><button type="button" value="#000000" style="background:#000000" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#808000" style="background:#808000" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#808040" style="background:#808040" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#808080" style="background:#808080" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#408080" style="background:#408080" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#c0c0c0" style="background:#c0c0c0" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#404040" style="background:#404040" onclick="writeColor(this.value)"></button></td>
		<td><button type="button" value="#ffffff" style="background:#ffffff" onclick="writeColor(this.value)"></button></td>
	</tr>
</table>
