<!-- INCLUDE TabBar.html -->
<div class="Card">
<!-- INCLUDE EditPublishedHeader.html -->
	<!-- INCLUDE EditNodeHeader.html -->
	<form method="post" action="func_pagelink(item_block, save_conditions, working_path: {working_path}, conditions: NULL, conditions_all: {conditions_all})" id="ItemConditions">
		<p>Do you really want to apply the selected display conditions to all subordinated items?</p>
		<p>
			<input class="Button" type="submit" name="overwrite" value="Yes" />
			<input class="Button" type="submit" name="cancel" value="No" />
		</p>
	</form>
</div>
