<div style="padding-left:15px"><li><h4>func_T(pages.user_admin.list_users.title)</h4></li></div>
<!-- INCLUDE TabBar.html -->
<div class="Card">

<!-- BEGIN confirm_mail -->
<table>
<tr></tr>
<tr>
	<th>
		Sie haben {usersToMail} Benutzer f&uuml;r die zu verschickende Email ausgew&auml;hlt. <BR>
		Wollen sie die Email wirklich verschicken?
  	</th>
</tr>
<tr>
	<th>
		<a class="Button" href="func_pagelink(user_delete, user_email)" target="blank">Email verschicken</a>
		<a class="Button" href="func_pagelink(user_delete, filter_user)">Nein</a>
	</th>
</tr>
</table>
<!-- END confirm_mail -->

</div>
