<div style="padding-left:15px"><li><h4>func_T(pages.user_admin.list_users.title)</h4></li></div>
<!-- INCLUDE TabBar.html -->
<div class="Card">

<!-- BEGIN confirm_mail -->
<table>
<tr></tr>
<tr>
	<th colspan>
		You have selected {usersToMail} users for e-mail notification. <BR>
		Send mail?
  	</th>
</tr>
<tr>
	<th colspan>
		<a class="Button" href="func_pagelink(user_delete, user_email)" target="blank">Send mail</a>
		<a class="Button" href="func_pagelink(user_delete, filter_user)">No</a>
	</th>
</tr>
</table>
<!-- END confirm_mail -->

</div>
