<!-- INCLUDE TabBar.html -->
<div class="Card">
<!-- INCLUDE EditPublishedHeader.html -->
	<!-- INCLUDE EditNodeHeader.html -->
	<form method="post" action="func_pagelink(item_block, save_conditions, working_path: {working_path}, conditions: NULL, conditions_all: {conditions_all})" id="ItemConditions">
		<p>Wollen Sie wirklich diese Anzeigebedingungen für alle untergeordneten Items übernehmen?</p>
		<p>
			<input class="Button" type="submit" name="overwrite" value="Ja" />
			<input class="Button" type="submit" name="cancel" value="Nein" />
		</p>
	</form>
</div>
