<!-- INCLUDE TabBar.html -->
<div class="Card">
<!-- INCLUDE EditPublishedHeader.html -->
	<!-- INCLUDE EditNodeHeader.html -->
	<form method="post" action="func_pagelink(this, take_over_standard_answers, working_path: {working_path}, item_id: {item_id}, answer_editable: {editable})">
		<p>Wollen Sie wirklich die Standardantworten übernehmen?</p>
		<p>
			<input class="Button" type="submit" name="confirm" value="Ja" />
			<input class="Button" type="submit" name="cancel" value="Nein" />
		</p>
	</form>
</div>
