<!-- INCLUDE TabBar.html -->
<div class="Card">


<p>
<fieldset style="border:1px solid #999999;padding:0.3em;padding-top:0.0em;margin:0;margin-top:1em;margin-left:1em;width:50em;">
<legend style="border: 1px solid #999999;padding:0 0.4em">Informationen</b></legend>

	<table class="Vertical" style="margin:1em; margin-left:2em">
		<tr>
			<td style="font-size:smaller;">
				<b>Das Cronjob-Script zur Bearbeitung der Nachbefragungen liegt in
				<i>portal/cron/cronjob.php</i> </b> <p>
			
				Es limitiert das Versenden von Emails standardmäßig auf 300 Mails pro 10 Minuten. Sind keine Jobs vorhanden oder das Limit ist erreicht, so endet das Script. 
				
			</td>
		</tr>
		
	</table>

</fieldset>

<p>

Falls Sie nicht die Möglichkeit haben, cronjobs zu nutzen, kann hier die Ausführung des entsprechenden Scripts manuell gestartet werden. <br>
Das Script wird solange ausgeführt, wie das Browserfenster geöffnet ist.<br>

<p>

<input class="Button" type=button value="Cronjob-Verarbeitung manuell starten" onClick="window.open('portal/cron/ManualCronjobs.php?i=0', '_blank');">

</div>