<p>


Unfortunately, the SelfAssessment pages are not available at the moment, due to technical problems.<p>

We apologize for this inconvenience and try to resolve the problem as quickly as possible, so that SelfAssessments can be carried out properly again.<br>
Please try again in a few minutes.
<p>

<b>
PS: Do not worry, SelfAssessments that have been started have been saved and can be resumed after logging in!
</b>
<p>
Thank you for your understanding!


<p>&nbsp;</p>
<div style="color:#999999;">Message:  
{message}
</div>
</p>