<p>


Leider ist das SelfAssessment im Augenblick aufgrund technischer Probleme kurzfristig nicht verfügbar.<p>

Wir bitten, diesen Ausfall zu entschuldigen und bemühen uns, den Fehler schnell zu beheben, sodass die SelfAssessments wieder ordnungsgemäß durchgeführt werden können.<br>
Bitte versuchen Sie es in ein paar Minuten erneut.
<p>

<b>
PS: Keine Angst, bereits begonnene SelfAssessments werden gespeichert und können nach erneutem einloggen einfach fortgesetzt werden!
</b>
<p>
Vielen Dank für Ihr Verständnis!

<p>&nbsp;</p>
<div style="color:#999999;">Message:  
{message}
</div>
</p>
