<p><strong>Contents of the Web site</strong> </p>
<p>The RWTH Aachen makes every effort to ensure that the material contained in its web
site is current, complete and correct. Despite this errors and mistakes cannot be
completely ruled out.</p>
<p>The RWTH does not accept liability for the relevance, accuracy or completeness of the
information and material offered in its web site unless the mistake occurred intentionally
or through gross negligence. This refers to any loss, additional costs or damage of any
kind suffered as a result of any use of any material in this web site.</p>
<p><strong>Copyright</strong></p>
<p>The Layout of the Homepage, graphics and pictures used and the collection of individual
contributions are protected by copyright.</p>
<p>The RWTH reserves all rights including the rights of photomechanical reproduction, the
duplication and distribution via special processes (e.g. data processing, data carriers,
data networks). </p>

<p><strong>Links to Third Party Information</strong></p>
<p>The verdict passed on the 12th May 1998 by the LG Hamburg rules that the inclusion of
links also leads to co-responsibility of the material offered via these links. The LG
Hamburg has declared that it is only possible to disclaim responsibility by expressly
distancing oneself from the contents of the web sites. </p>
<p>The RWTH Aachen web site links to third party information providers. The RWTH Aachen
has no influence on the contents or reliability of the web sites of these third party
information providers. The following therefore applies to all links:</p>
<p>&quot;The RWTH has no&nbsp; influence on the design and contents of third party
internet web sites. The RWTH therefore expressly distances itself from the material of all
third party internet web sites, even if the RWTH web site links to these external
sites.&quot;</p>
<p>The declaration is valid for all links given on our web site and the material of all
sites reached via banners and links on the RWTH web site. </p>

<p><strong>Privacy</strong></p>
<p>Where you are invited to submit personal information (e-mail address, names, postal
addresses) the submission of this information is purely voluntary. The RWTH expressly
declares that the information submitted will not be passed on to third parties.</p>
<p><strong>Legal validity</strong></p>
<p>This general disclaimer is part of the material offered in the RWTH web site. If any of
the terms and conditions should be determined invalid by reason of the relevant laws then
the remaining terms and conditions shall remain in full effect. </p>
<p><strong>In case of any uncertainties which arise due to errors in translation,
the German version of this disclaimer is the legally binding one.</strong></p>