<h3>Haftungsausschluss für das Webangebot der RWTH Aachen</h3>
<p><b>Inhalt des Webangebotes</b></p>

<p>Die RWTH ist bemüht, ihr Webangebot stets aktuell und inhaltlich richtig sowie
vollständig anzubieten. Dennoch ist das Auftreten von Fehlern nicht v&ouml;llig
auszuschließen.</p>
<p>Die RWTH übernimmt keine Haftung für die Aktualität, die inhaltliche Richtigkeit
sowie für die Vollständigkeit der in ihrem Webangebot eingestellten Informationen, es
sei denn die Fehler wurden vorsätzlich oder grob fahrlässig aufgenommen. Dies bezieht
sich auf eventuelle Schäden materieller oder ideeller Art Dritter, die durch die Nutzung
dieses Webangebotes verursacht wurden.</p>
<p><b>Copyright</b></p>
<p>Das Layout der Homepage, die verwendeten Grafiken und Bilder, die Sammlung sowie
einzelnen Beiträge sind urheberrechtlich geschützt.</p>
<p>Alle Rechte, auch die der fotomechanischen Wiedergabe, der Vervielfältigung und der
Verbreitung mittels besonderer Verfahren (zum Beispiel Datenverarbeitung, Datenträger und
Datennetze), auch teilweise, behält sich die RWTH Aachen vor. </p>
<p><b>Externe Verweise und Links</b></p>

<p>Mit Urteil vom 12.Mai 1998 hat das LG Hamburg entschieden, dass man durch die
Ausbringung eines Links die Inhalte der gelinkten Seite ggf. mit zu verantworten hat. Dies
kann, so das LG, nur dadurch verhindert werden, dass man sich ausdrücklich von diesen
Inhalten distanziert.<br />
<br />
Wir haben auf unseren Seiten Links zu Seiten im Internet gelegt, deren Inhalt und
Aktualisierung nicht dem Einflussbereich der RWTH unterliegen. Für alle diese Links gilt:<br />
<br />
<b>&quot;Die RWTH hat keinen Einfluss auf Gestaltung und Inhalte fremder Internetseiten.
Sie distanziert sich daher von allen fremden Inhalten, auch wenn von Seiten der RWTH auf
diese externe Seiten ein Link gesetzt wurde.&quot;</b><br />
<br />
Diese Erklärung gilt für alle auf unserer Homepage angezeigten Links und für alle
Inhalte der Seiten, zu denen die bei uns angemeldeten Banner und Links führen.</p>

<p><b>Datenschutz</b></p>
<p>Sofern innerhalb des Internetangebotes die M&ouml;glichkeit der Eingabe von pers&ouml;nlichen
Daten (E-Mailadresse, Namen, Anschriften) besteht, erfolgt diese freiwillig. Die RWTH
erklärt ausdrücklich, dass sie diese Daten nicht an Dritte weitergibt.</p>
<p><b>Rechtswirksamkeit</b></p>
<p>Dieser Haftungsausschluss ist Teil des Internetangebotes der RWTH Aachen. Sofern
einzelne Formulierungen oder Teile dieses Textes der geltenden Rechtslage nicht mehr oder
nicht mehr vollständig entsprechen, bleiben die übrigen Teile dieser Erklärung davon
unberührt. </p>