<!-- INCLUDE TabBar.html -->
<div class="Card">
<!-- INCLUDE EditNodeHeader.html -->

<h3>Edit dimension: <em>{title:h}</em> (Step 1 of 2)</h3>

<form method="post" action="func_pagelink(dimension, edit, working_path: {working_path}, item_id: {id})">
	<input type="hidden" name="submit_dim" value="1" />
	<table>
		<tr<!-- BEGIN correction_title --> class="correction"<!-- END correction_title -->>
			<td>Title</td>
			<td><input type="text" name="title" class="Text" value="{title:h}" /></td>
		</tr>
		<tr>
			<td>Description</td>
			<td><textarea name="description">{description:h}</textarea></td>
		</tr>
		<tr>
			<td>Current values</td>
			<td><em>min={curMin}, max={curMax}, {curRef}</em></td>
		</tr>		
		<tr>
			<td colspan="2">The following options are not finally saved before the next step; you'll have to complete the following step
				to change the scoring for this dimension.</td>
		</tr>
		<tr>
			<td>Items that are part of this dimension</td>
			<td>
				<ul class="checklist">
					<!-- BEGIN items -->
						<li {item_disabled} ><input id="items_{item_id}" type="checkbox" name="items[{item_id}]" value="1"{item_checked}/>
							<label for="items_{item_id}">{item_title:h}</label></li>
					<!-- END items -->
					<!-- BEGIN no_items -->
						<li><em>There are no items in the associated item blocks that can be used for ordinary dimensions.</em></li>
					<!-- END no_items -->
				</ul>
			</td>
		</tr>
		<!-- BEGIN q_options -->
		<tr>
			<td>Scoring options</td>
			<td>
				<ul class="checklist">
					<li>
						<input id="edit_type_mc" type="radio" name="edit_type" value="mc" {check_mc}/>
						<label for="edit_type_mc">I want to select answers which are worth one point.</label>
					</li>
					<li>
						<input id="edit_type_scale" type="radio" name="edit_type" value="scale" {check_scale}/>
						<label for="edit_type_scale">I want a scale with ascending or descending values for the possible answers.</label>
					</li>
					<li>
						<input id="edit_type_custom" type="radio" name="edit_type" value="custom" {check_custom}/>
						<label for="edit_type_custom">I want to manually enter the score for each possible answer.</label>
					</li>
			</td>
		</tr>
		<!-- END q_options -->
	</table>
	<!-- BEGIN submit_button -->
	<input type="submit" class="Button" value="Go to Next step" />
	<!-- END submit_button -->
	<!-- BEGIN no_submit_button -->
	<input type="button" disabled="disabled" value="func_T(buttons.edit_disallowed)" class="Button" />
	<!-- END no_submit_button -->
</form>
</div>
