Hallo -12xy21-,

Sie haben seit längerer Zeit Ihren Benutzeraccount für die Seite  www---... nicht mehr genutzt. Um Ihren Account weiterhin nutzen können (z. B. um Tests durchzuführen, Ergebnisrückmeldungen anzuschauen oder Bescheinigungen auszudrucken) klicken Sie bitte innerhalb von 14 Tagen auf den folgenden Bestätigungs-Link. Andernfalls wird ihr Account unwiderruflich gelöscht.

Bestätigungs-Link:
www...


Mit freundlichen Grüßen 

Das testMaker-Team

___________________________________________________________________________

***************************************************************************
___________________________________________________________________________

Hello -12xy21-,

you have not used your user account on www---... for a long time. To be able to log in with your account again (e. g. to participate in a test, view your testrun-results oder print a certificate) please click on the following confirmation link within the next 14 days. Otherwise your account will be irreversibly deleted. 

Confirmation link:
www...

Kinds regards,

testMaker-Team


