<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<style type="text/css">
body {
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
}
table {
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
}
</style>
</head>
<body>
	<h4 style="color:#044294">testMaker Feedback</h4>
	<table>
		<tr><td width="70px">Test:</td><td>{title}</td></tr>
		<tr><td>Date:</td><td>{date}</td></tr>
		<tr><td>Time:</td><td>{time}</td></tr>
	</table>
	<hr color="#044294">
	<div>
		<!-- BEGIN paragraphs -->
		<p>{para}</p>
		<!-- END paragraphs -->
	</div>
	<hr color="#044294">
	<div style="padding:10px;float:right"><img src="{logo}" alt="testMaker logo"></div>
</body>
</html>
