<h3>Internet Explorer:</h3>
<div class="Photo"><img class="Photo" src="portal/images/help_javascript_ie_de_01.png" alt="Internet Explorer - Step 1"><br />Step 1</div>
<div class="Photo"><img class="Photo" src="portal/images/help_javascript_ie_de_02.png" alt="Internet Explorer - Step 2"><br />Step 2</div>
<div class="Photo"><img class="Photo" src="portal/images/help_javascript_ie_de_03.png" alt="Internet Explorer - Step 3"><br />Step 3</div>
<div class="Photo"><img class="Photo" src="portal/images/help_javascript_ie_de_04.png" alt="Internet Explorer - Step 4"><br />Step 4</div>

<h3>Firefox:</h3>
<div class="Photo"><img class="Photo" src="portal/images/help_javascript_firefox_en_01.png" alt="Firefox - Step 1"><br />Step 1</div>
<div class="Photo"><img class="Photo" src="portal/images/help_javascript_firefox_en_02.png" alt="Firefox - Step 2"><br />Step 2</div>
