<p>Das testMaker-Team der RWTH Aachen freut sich sehr, dass Sie testMaker nutzen möchten. Bitte beantworten Sie die folgenden Fragen, damit wir einen Eindruck davon bekommen, wo der testMaker überall eingesetzt wird. Wenn Sie keine Angaben machen möchten, klicken sie einfach auf "Zum nächsten Schritt.":</p>
<form action="http://www.global-assess.rwth-aachen.de/tmFeedback/sendFeedback.php" method="post">
	<table>
	<tr>
		<td>Über welchen Link gelangt man zu Ihrem testMaker?</td>
		<td><input name="url" value="{url}" size="46" readonly></td>
	</tr><tr>
		<td>Welche Versionsnummer hat Ihr testMaker?</td>
		<td><input name="version" value="{version}" size="36" readonly></td>
	</tr><tr>
		<td>In welchem Land nutzen Sie den testMaker?</td>
		<td>
		<select name="country">
		<option value="x">Bitte Land ausw&auml;hlen ...</option>
		<option value="Deutschland">Deutschland</option>
		<option value="Österreich">&Ouml;sterreich</option>
		<option value="Schweiz">Schweiz</option>
		<option value="-">------------------</option>
		<option value="Afghanistan">Afghanistan</option>
		<option value="Ägypten">&Auml;gypten</option>
		<option value="Albanien">Albanien</option>
		<option value="Algerien">Algerien</option>
		<option value="Andorra">Andorra</option>
		<option value="Angola">Angola</option>
		<option value="Anguilla">Anguilla</option>
		<option value="Antarktis">Antarktis</option>
		<option value="Antigua und Barbuda">Antigua und Barbuda</option>
		<option value="Argentinien">Argentinien</option>
		<option value="Armenien">Armenien</option>
		<option value="Aruba">Aruba</option>
		<option value="Äthiopien">&Auml;thiopien</option>
		<option value="Australien">Australien</option>
		<option value="Azerbaidschan">Azerbaidschan</option>
		<option value="Bahamas">Bahamas</option>
		<option value="Bahrain">Bahrain</option>
		<option value="Bangladesh">Bangladesh</option>
		<option value="Barbados">Barbados</option>
		<option value="Belgien">Belgien</option>
		<option value="Belize">Belize</option>
		<option value="Belarus">Belarus</option>
		<option value="Benin">Benin</option>
		<option value="Bermuda">Bermuda</option>
		<option value="Bhutan">Bhutan</option>
		<option value="Bolivien">Bolivien</option>
		<option value="Bosnien und Herzegowina">Bosnien und Herzegowina</option>
		<option value="Botswana">Botswana</option>
		<option value="Brasilien">Brasilien</option>
		<option value="Brunei">Brunei</option>
		<option value="Bulgarien">Bulgarien</option>
		<option value="Burkina">Burkina</option>
		<option value="Faso">Faso</option>
		<option value="Burundi">Burundi</option>
		<option value="Cape">Cape</option>
		<option value="Verde">Verde</option>
		<option value="Cayman Is.">Cayman Is.</option>
		<option value="Chile">Chile</option>
		<option value="Volksrepublik China">Volksrepublik China</option>
		<option value="Christmas Is.">Christmas Is.</option>
		<option value="Comoros">Comoros</option>
		<option value="Cook Is.">Cook Is.</option>
		<option value="Costa Rica">Costa Rica</option>
		<option value="Cote d Ivoire">Cote d&acute;Ivoire</option>
		<option value="Cypern">Cypern</option>
		<option value="D&amp;auml;nemark">D&auml;nemark</option>
		<option value="Djibouti">Djibouti</option>
		<option value="Dominica">Dominica</option>
		<option value="Dominikanische Republik">Dominikanische Republik</option>
		<option value="Ecuador">Ecuador</option>
		<option value="El Salvador">El Salvador</option>
		<option value="Equatorial">Equatorial</option>
		<option value="Guinea">Guinea</option>
		<option value="Eritrea">Eritrea</option>
		<option value="Estland">Estland</option>
		<option value="Falkland Is.">Falkland Is.</option>
		<option value="Fiji">Fiji</option>
		<option value="Finnland">Finnland</option>
		<option value="Frankreich">Frankreich</option>
		<option value="Französisch Guiana">Franz&ouml;sisch Guiana</option>
		<option value="Französisch Polynesien">Franz&ouml;sisch Polynesien</option>
		<option value="Gabun">Gabun</option>
		<option value="Gambia">Gambia</option>
		<option value="Georgien">Georgien</option>
		<option value="S. Georgia and the S. Sandwich Is.">S. Georgia and the S. Sandwich Is.</option>
		<option value="Ghana">Ghana</option>
		<option value="Grenada">Grenada</option>
		<option value="Griechenland">Griechenland</option>
		<option value="Grönland">Gr&ouml;nland</option>
		<option value="Gro&amp;szlig;britannien">Gro&szlig;britannien</option>
		<option value="Guadeloupe">Guadeloupe</option>
		<option value="Guam">Guam</option>
		<option value="Guatemala">Guatemala</option>
		<option value="Guinea-Bissau">Guinea-Bissau</option>
		<option value="Guyana">Guyana</option>
		<option value="Haiti">Haiti</option>
		<option value="Honduras">Honduras</option>
		<option value="Hong">Hong</option>
		<option value="Kong">Kong</option>
		<option value="Indien">Indien</option>
		<option value="Indonesien">Indonesien</option>
		<option value="Iran">Iran</option>
		<option value="Irak">Irak</option>
		<option value="Irland">Irland</option>
		<option value="Island">Island</option>
		<option value="Israel">Israel</option>
		<option value="Italien">Italien</option>
		<option value="Jamaica">Jamaica</option>
		<option value="Japan">Japan</option>
		<option value="Jordanien">Jordanien</option>
		<option value="Jugoslawien">Jugoslawien</option>
		<option value="Kambodscha">Kambodscha</option>
		<option value="Kamerun">Kamerun</option>
		<option value="Kanada">Kanada</option>
		<option value="Kazakhstan">Kazakhstan</option>
		<option value="Kenia">Kenia</option>
		<option value="Kiribati">Kiribati</option>
		<option value="Kitts and Nevis">Kitts and Nevis</option>
		<option value="Kolumbien">Kolumbien</option>
		<option value="Kongo">Kongo</option>
		<option value="Demokratische Republik Kongo">Demokratische Republik Kongo</option>
		<option value="Nord-Korea">Nord-Korea</option>
		<option value="Süd-Korea">S&uuml;d-Korea</option>
		<option value="Kroatien">Kroatien</option>
		<option value="Kuba">Kuba</option>
		<option value="Kuwait">Kuwait</option>
		<option value="Kyrgyzstan">Kyrgyzstan</option>
		<option value="Laos">Laos</option>
		<option value="Latvia">Latvia</option>
		<option value="Lesotho">Lesotho</option>
		<option value="Libanon">Libanon</option>
		<option value="Liberia">Liberia</option>
		<option value="Libyen">Libyen</option>
		<option value="Liechtenstein">Liechtenstein</option>
		<option value="Lithauen">Lithauen</option>
		<option value="Luxemburg">Luxemburg</option>
		<option value="Macao">Macao</option>
		<option value="Madagaskar">Madagaskar</option>
		<option value="Makedonien">Makedonien</option>
		<option value="Malawi">Malawi</option>
		<option value="Malaysien">Malaysien</option>
		<option value="Malediven">Malediven</option>
		<option value="Mali">Mali</option>
		<option value="Malta">Malta</option>
		<option value="Northern Marianas Is.">Northern Marianas Is.</option>
		<option value="Marokko">Marokko</option>
		<option value="Marshall Is.">Marshall Is.</option>
		<option value="Martinique">Martinique</option>
		<option value="Mauritanien">Mauritanien</option>
		<option value="Mauritius">Mauritius</option>
		<option value="Mayotte">Mayotte</option>
		<option value="Mexiko">Mexiko</option>
		<option value="Mikronesien">Mikronesien</option>
		<option value="Moldawien">Moldawien</option>
		<option value="Mongolei">Mongolei</option>
		<option value="Montserrat">Montserrat</option>
		<option value="Mozambique">Mozambique</option>
		<option value="Myanmar">Myanmar</option>
		<option value="Namibia">Namibia</option>
		<option value="Nauru">Nauru</option>
		<option value="Nepal">Nepal</option>
		<option value="Neukaledonien">Neukaledonien</option>
		<option value="Neuseeland">Neuseeland</option>
		<option value="Nicaragua">Nicaragua</option>
		<option value="Niederlande">Niederlande</option>
		<option value="Niederländische Antillen">Niederl&auml;ndische Antillen</option>
		<option value="Niger">Niger</option>
		<option value="Nigeria">Nigeria</option>
		<option value="Niue">Niue</option>
		<option value="Norwegen">Norwegen</option>
		<option value="Oman">Oman</option>
		<option value="Pakistan">Pakistan</option>
		<option value="Palau">Palau</option>
		<option value="Panama">Panama</option>
		<option value="Papua-Neu">Papua-Neu</option>
		<option value="Paraguay">Paraguay</option>
		<option value="Peru">Peru</option>
		<option value="Philippinen">Philippinen</option>
		<option value="Pitcairn">Pitcairn</option>
		<option value="Is.">Is.</option>
		<option value="Polen">Polen</option>
		<option value="Portugal">Portugal</option>
		<option value="Puerto Rico">Puerto Rico</option>
		<option value="Qatar">Qatar</option>
		<option value="Reunion">Reunion</option>
		<option value="Ruanda">Ruanda</option>
		<option value="Rumänien">Rum&auml;nien</option>
		<option value="Rußland">Ru&szlig;land</option>
		<option value="Saint Lucia">Saint Lucia</option>
		<option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
		<option value="Samoa-America">Samoa-America</option>
		<option value="Samoa-Western">Samoa-Western</option>
		<option value="San Marino">San Marino</option>
		<option value="Sao">Sao</option>
		<option value="Tome and Principe">Tome and Principe</option>
		<option value="Saudi-Arabien">Saudi-Arabien</option>
		<option value="Schweden">Schweden</option>
		<option value="Senegal">Senegal</option>
		<option value="Seychellen">Seychellen</option>
		<option value="Sierra Leone">Sierra Leone</option>
		<option value="Singapur">Singapur</option>
		<option value="Slowakei">Slowakei</option>
		<option value="Slowenien">Slowenien</option>
		<option value="Solomon Is.">Solomon Is.</option>
		<option value="Somalia">Somalia</option>
		<option value="Spanien">Spanien</option>
		<option value="Sri Lanka">Sri Lanka</option>
		<option value="Südafrika">S&uuml;dafrika</option>
		<option value="Sudan">Sudan</option>
		<option value="Surinam">Surinam</option>
		<option value="Swaziland">Swaziland</option>
		<option value="Syrien">Syrien</option>
		<option value="Taiwan">Taiwan</option>
		<option value="Tajikistan">Tajikistan</option>
		<option value="Tansania">Tansania</option>
		<option value="Thailand">Thailand</option>
		<option value="Togo">Togo</option>
		<option value="Tonga">Tonga</option>
		<option value="Trinidad und Tobago">Trinidad und Tobago</option>
		<option value="Tschechische Republik">Tschechische Republik</option>
		<option value="Tunisien">Tunisien</option>
		<option value="Türkei">T&uuml;rkei</option>
		<option value="Turkmenistan">Turkmenistan</option>
		<option value="Tuvalu">Tuvalu</option>
		<option value="Uganda">Uganda</option>
		<option value="Ukraine">Ukraine</option>
		<option value="Ungarn">Ungarn</option>
		<option value="Uruguay">Uruguay</option>
		<option value="Uzbekistan">Uzbekistan</option>
		<option value="Vanuatu">Vanuatu</option>
		<option value="Vatikan-Staat">Vatikan-Staat</option>
		<option value="Venezuela">Venezuela</option>
		<option value="Vereinigte Arabische Emirate">Vereinigte Arabische Emirate</option>
		<option value="Vereinigte Staaten von Amerika">Vereinigte Staaten von Amerika</option>
		<option value="Vietnam">Vietnam</option>
		<option value="Virgin Is.">Virgin Is.</option>
		<option value="Western Sahara">Western Sahara</option>
		<option value="Yemen">Yemen</option>
		<option value="Zambia">Zambia</option>
		<option value="Zentralafrikanische Republic">Zentralafrikanische Republic</option>
		<option value="Zimbabwe">Zimbabwe</option>
		</select>
		</td>
	</tr><tr>
		<td>In welcher Form nutzen Sie den testMaker?</td>
		<td>
		<select name="usage">
		<option value="x">Bitte Form ausw&auml;hlen ...</option>
		<option value="Privatperson">als Privatperson</option>
		<option value="Hochschule">als Hochschule</option>
		<option value="sonstige öffentliche Einrichtung">als sonstige öffentliche Einrichtung</option>
		<option value="Unternehmen">als Unternehmen</option>
		</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><p><input value="Feedback senden" type="submit"></p></td>
	</tr>
	</table>
</form>
