<p>
	Die Konfigurationsdatei, die Sie gerade erzeugt haben, kann nicht
	automatisch gespeichert werden. Deshalb m&uuml;ssen Sie die
	<a class="arrow"
	href="func_pagelink(installer, auto, download: true)">Konfigurationsdatei herunterladen</a>
	und dann auf Ihren Webspace in das Verzeichnis <code>{config_path}</code> hochladen.
	Beachten Sie bitte, dass der Download nur innerhalb dieser Browser-Sitzung funktioniert.</p>

<p>
	Nachdem Sie die Konfigurationsdatei hochgeladen haben, k&ouml;nnen Sie die Installation normal fortsetzen.</p>
