<div style="padding-left:15px"><li><h4>func_T(pages.manage_templates.title)</h4></li></div>
<!-- INCLUDE TabBar.html -->
<div class="Card">
	<p>func_T(pages.manage_templates.desc)</p>

	<fieldset>
		<legend>Umpload template</legend>
		<form name="uploadTemplate" method="post" action="func_pagelink(template_management, upload_template)" enctype="multipart/form-data">
			<table style="width:300px;height:70px">
				<tr>
					<td style="width:70px">Template&nbsp;file:</td>
					<td><input name="uploadTemplateFile" type="file" size="50" maxlength="100000" accept="text/html" /></td>
				</tr>
				<tr>
					<td>Preview&nbsp;image:</td>
					<td><input name="uploadPreviewFile" type="file" size="50" maxlength="100000" accept="image/*" /></td>
				</tr>
				<tr>
					<td><p>Description</p></td>
				</tr>
				<tr>
					<td>German:</td>
					<td><input name="templateDescriptionGerman" type="text" size="59" /></td>
				</tr>
				<tr>
					<td>English:</td>
					<td><input name="templateDescriptionEnglish" type="text" size="59" /></td>
				</tr>
				<tr>
					<td>
						<input name="submit" class="Button" type="submit" value="func_T(buttons.save)" />
					</td>
				</tr>
			</table>
		</form>
	</fieldset>
	<fieldset>
		<legend>Templates</legend>
		<table class="Both" style="width:380px">
			<tr>
				<th style="text-align:left">Template name:</th>
				<th style="text-align:left" colspan="2">Options:</th>
			</tr>
			<!-- BEGIN template_list -->
			<tr class="{key:h}">
				<td style="height:26px"><a href="func_pagelink(template_management, view_template, id: {templateid})" title="Details anzeigen">{templatename:h}</a></td>
				<td style="width:5px;">
					<!-- BEGIN edit_template -->
					<form method="post" action="func_pagelink(template_management, edit_template, id: {templateid})">
						<div>
							<input type="submit" class="Button" name="do_edit" value="Edit" />
						</div>
					</form>
					<!-- END edit_template -->
				</td>
				<td style="width:5px;">
					<!-- BEGIN delete_template -->
					<form method="post" action="func_pagelink(template_management, delete_template, id: {templateid})">
						<div>
							<input type="submit" class="Button" name="do_delete" value="Delete" onclick="return confirm('Do you really want to delete the template &quot;{templatename:h}&quot;? This cannot be undone!');" />
						</div>
					</form>
					<!-- END delete_template -->
				</td>
			</tr>
			<!-- END template_list -->
		</table>
	</fieldset>
</div>
