<!-- INCLUDE TabBar.html -->
<div class="Card">
<!-- INCLUDE EditNodeHeader.html -->
	<p>Testläufe im Vorschau-Modus werden in der Datenbank als "preview" deklariert, so dass man sie von regulären Testläufen unterscheiden kann.</p>
	
	<!-- BEGIN preview_button -->
	<form method="post" action="func_pagelink(container_block, start_preview, working_path: {working_path})">
		<input class="Button" type="submit" name="do_preview" value="Vorschau starten" {disable_preview:h}/>
	</form>
	<!-- END preview_button -->
	
	<!-- BEGIN subtest_button -->
	<input class="Button" type="button" name="dummy" value="Keine Vorschau für Subtests möglich" disabled />
	<!-- END subtest_button -->
	
</div>
