<div class="ProgressBar" style="width:{width:h};text-align:left;{style:h};position:relative;"><div style="border:1px solid black;background-color:#EEEEEE"><div
	style="position:absolute;width:{width:h};text-align:center;color:#000000;font-weight:bold;line-height:{fontSize:h}"><span
	style="font-size:{fontSize:h};line-height:120%" id="{id}_text">{progress}%</span></div><div id="{id}_bar"
	style="width:{progress}%;background-color:#709EDB;font-size:{fontSize:h};line-height:120%"><div style="width:0;overflow:hidden">&nbsp;</div></div></div></div>
