<div style="padding-left:15px"><li><h4>func_T(pages.switch_user.title)</h4></li></div>
<!-- INCLUDE TabBar.html -->
<div class="Card">
<p>Hier können Sie einen Login mit einem anderen Benutzerkonto simulieren. Somit können Sie genau nachvollziehen, wie bestimmte Dinge für andere Benutzer aussehen und dementsprechend mögliche Fehler erkennen und beheben.</p>

<form method="post" action="func_pagelink(switch_user, switch)">
<div>
<label for="form_switch_username">Benutzername (leer lassen, um zu einem Gastbenutzer zu werden):</label>
	<input type="text" class="Text" name="username" id="form_switch_username" />
<input type="submit" class="Button" value="Benutzerkonto wechseln" />
</div>
</form>
</div>

