<div style="padding-left:15px"><li><h4>func_T(pages.switch_user.title)</h4></li></div>
<!-- INCLUDE TabBar.html -->
<div class="Card">
<p>Here you can simulate having logged in using another user account in order to see testMaker out of that user's eyes, allowing you to spot and mend possible problems.</p>

<form method="post" action="func_pagelink(switch_user, switch)">
<div>
<label for="form_switch_username">Username (leave empty to become a guest user):</label>
	<input type="text" class="Text" name="username" id="form_switch_username" />
<input type="submit" class="Button" value="Switch user account" />
</div>
</form>
</div>
