<ul class="Line">
<!-- BEGIN tab_item -->
	<!-- BEGIN active_tab_item --><li><a href="{tab_link}" class="on"><span class="Background">{tab_title}</span></a></li><!-- END active_tab_item -->
	<!-- BEGIN inactive_tab_item --><li><a href="{tab_link}" class="off"><span class="Background">{tab_title}</span></a></li><!-- END inactive_tab_item -->
	<!-- BEGIN disabled_tab_item --><li><span class="DisabledTab"><span class="Background">{tab_title}</span></span></li><!-- END disabled_tab_item -->
<!-- END tab_item -->
</ul>