<!-- BEGIN test_normal -->
<p>Feedback of the test run at {test_run_date}, {test_run_time}:</p>
<!-- BEGIN no_pages_normal -->
<p><b>Unfortunately, there is no evaluation available for this test.</b></p>
<!-- END no_pages_normal -->
<!-- END test_normal -->

<!-- BEGIN test_per_tan -->
<p>The TAN has already been used at {test_run_date}, {test_run_time}.</p>
<!-- BEGIN no_pages_tan -->
<p><b>The test is completed.</b></p>
<!-- END no_pages_tan -->
<!-- END test_per_tan -->

<p id="test_feedback_links1">
<!-- BEGIN anonymous_link1 -->
<a class="Button" href="func_pagelink(test_listing)">Back to the summary</a>
<!-- END anonymous_link1 -->
<!-- BEGIN user_link1 -->
<a class="Button" href="func_pagelink(test_listing, test_view, test_id: {test_id})">Back to the summary</a>
<!-- END user_link1 -->
<!-- BEGIN print_link1 -->
<a class="Button" href="func_pagelink(test_listing, show_feedback, test_run: {test_run_id}, layout: print, final: 1)" target="_blank">Print view</a>
<!-- END print_link1 -->
<!-- BEGIN print_link2 -->
<a class="Button" href="func_pagelink(test_listing, show_feedback, test_run: {test_run_id}, layout: print, email: 1)" target="_blank"> Send feedback per email</a>
<!-- END print_link2 -->
</p>

<!-- BEGIN page -->
<div style="margin: 1em 0; border: 1px solid #999;padding:0.5em">
<!-- BEGIN paragraph -->
	<p>{paragraph}</p>
<!-- END paragraph -->
</div>
<!-- END page -->
<!-- BEGIN certificate -->
<p id="Certificate" style="margin: 1em 0; padding: 5px; border: 1px solid #333378;background-color:#8888FF">
	<a href="func_pagelink(pdf_generator, formular_certificate, test_run_id: {test_run_id}, block_id: {block_id})">func_T(generic.certificate)</a>
</p>
<!-- END certificate -->
<!-- BEGIN no_certificate -->
<div style="padding:5px;border-width:1px;border-style:solid;border-color:#333378;background-color:#8888FF">
	func_T(generic.missing_personal_data)
</div>
<!-- END no_certificate -->

<!-- END has_pages -->

<p id="test_feedback_links2">
<!-- BEGIN anonymous_link2 -->
<a class="Button" href="func_pagelink(test_listing)">Back to the summary</a>
<!-- END anonymous_link2 -->
<!-- BEGIN user_link2 -->
<a class="Button" href="func_pagelink(test_listing, test_view, test_id: {test_id})">Back to the summary</a>
<!-- END user_link2 -->
</p>
