<div id="Content">
<div class="Question">
	<h2>Skip questions?</h2>
	<p>You have previously answered the upcoming questions (<strong>{block_title:h}</strong>) in the test "<strong>{other_block_title:h}</strong>". You can skip them now if you want to, in which case your previous answers will automatically be carried over. Alternatively you can answer the questions again.</p>
</div>
<form method="post" action="func_pagelink(test_make, skip_block, id: {id})">
<input type="hidden" name="block_id" value="{block_id}" />
<input class="Button" type="submit" value="Skip" />
<input class="Button" type="submit" name="cancel" value="Answer again" />
</form>
</div>
