<!-- INCLUDE TabBar.html -->
<div class="Card">
<h2>Filter</h2>
<form method="post" action="func_pagelink(test_survey, filter)">
<table class="Vertical">
	<tr>
		<th>Test</th>
		<td>
			<select name="test_id">
			 	<!-- <option value="0"{select_test_first}>Alle Tests</option> -->
<!-- BEGIN select_test -->
				<option value="{select_test_id}"{select_test_current}>{select_test_title:h}</option>
<!-- END select_test -->
			</select>
		</td>
	</tr>
	<tr>
		<th>Gruppen</th>
		<td>
			<select name="group_name">
				<option value="*"{select_group_first}>Alle Gruppen</option>
<!-- BEGIN select_group -->
				<option value="{select_group_name}"{select_group_current}>{select_group_title:h}</option>
<!-- END select_group -->
			</select>
		</td>
	</tr>
	<tr>
		<th>Zugriffsart</th>
		<td>
			<select name="access_type">
				<option value="*"{select_access_type_first}>Egal</option>
<!-- BEGIN select_access_type -->
				<option value="{select_access_type}"{select_access_type_current}>{select_access_type_description}</option>
<!-- END select_access_type -->
			</select>
		</td>
	</tr>
	<tr>
		<th>Vollständigkeit</th>
		<td>
			<select name="completed">
				<option value="any"{select_completed_any}>Egal</option>
				<option value="all"{select_completed_all}>Alle Items beantwortet</option>
				<option value="all_required"{select_completed_all_required}>Alle nötigen Items beantwortet</option>
				<option value="not_all_required"{select_completed_not_all_required}>Nicht alle nötigen Items beantwortet</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>Fortschritt des Testlaufs</th>
		<td>
		<table border = 0><tr>
			<td>
			<select name="relation">
				<option value="greater_than"{relation_greater_than}>mehr als</option>
				<option value="equal_as"{relation_equal_as}>genau</option>
				<option value="less_than"{relation_less_than}>weniger als</option>
			</select>
			</td>
				<td><input name="completed_percent" value="{completed_percent}" size="3" maxlength="3"></td><td> Prozent</td>
			</tr>	
			</table>
		</td>
	</tr>
	<tr>
		<th>Datum</th>
		<td>
		<table border = 0><tr>
			<td>
			<select name="date_relation">
				<option value="greater_than"{relation_date_greater_than}>ab dem</option>
				<option value="equal_as"{relation_date_equal_as}>genau</option>
				<option value="less_than"{relation_date_less_than}>vor dem</option>
				<option value="between"{relation_date_between}>zwischen</option>
			</select>
			</td>
				<td><input name="test_date" value="{test_date}" size="10" maxlength="10"></td><td> TT.MM.JJJJ</td>
				<td><input name="test_date2" value="{test_date2}" size="10" maxlength="10"></td><td> TT.MM.JJJJ</td>
			</tr>	
			</table>
		</td>
	</tr>
	<tr>
		<th<!-- BEGIN correction_testrun_id --> class="correction" <!-- END correction_testrun_id -->>Testlauf ID #</th>
		<td>
			<input name="testrun_id" type="text" value="{input_testrun_id}" />
		</td>
	</tr>
	<tr>
		<th></th>
		<td class="Submit"><input class="Button" type="submit" name="filters_set" value="Filter anwenden" /></td>
	</tr>
</table>
</form>

<!-- BEGIN no_results -->
<p>Es wurden <b>keine</b> Testläufe gefunden, die Ihren Kriterien entsprechen.</p>
<!-- END no_results -->

<!-- BEGIN no_filter -->
<p>Please select a test in filter !</p>
<!-- END no_filter -->

<!-- BEGIN has_results -->
<p>Es wurden  <b>{result_count}</b> Testläufe von <b>{users_count}</b> Benutzern gefunden, die Ihren Kriterien entsprechen.</p>
<p>
Benutzer mit mehreren Testläufen werden nur einmal benachrichtigt. TAN-User werden nicht berücksichtigt.
<p>
<br />
<h2>Nachbefragungs-Text eingeben:</h2>


<form method="post" action="func_pagelink(test_survey, confirm_survey)">

<table class="Vertical">
	<tr>
		<th style="width:120px;">Betreff:</th>
		<td>
		<input name="subject" type="text" value="{survey_subject}" style="width:630px"/><p>
		</td>
	</tr>
	<tr>
		<th>E-Mail Inhalt:</th>
		<td>
		{mail_content}<p>
		</td>
	</tr>
	<tr>
		<td></td><td>
			<input type="checkbox" name="save_text" value="save_text" id="save_text"/> <small>E-Mail-Inhalt als neuen Standard-Text übernehmen<p></small>
		</td>
	</tr>
	<tr>
		<th>Nachbefragungs-Test:</th>
		<td>
			<select name="survey_test" style="width:300px">
			<!-- BEGIN select_survey_test -->
				<option value="{select_survey_test_id}" {survey_selected}>{select_survey_test_title:h}</option>
			<!-- END select_survey_test -->
			</select>
			<p>
		</td>
	</tr>
	<tr>
		<th>Platzhalter:</th>
		<td>
			<small>
			<b>&#91;TEST&#93;</b> fügt einen Link zum ausgewählten Test zur Nachbefragung ein<br>
			<b>&#91;NAME&#93;</b> fügt den hinterlegten Namen des Benutzers ein<br>
			<b>&#91;USERNAME&#93;</b> fügt den Benutzernamen ein<br>
			<b>&#91;PWLINK&#93;</b> fügt einen Link zur Passwort-Vergessen-Seite ein<br>
			</small><p>&nbsp;</p>
		</td>
	</tr>

	<tr>
		<td></td><td>
			<input type="submit" class="Button" value="Weiter" />
		</td>
	</tr>

</table>


</form>



<!-- END has_results -->


<p>



</div>