<!-- BEGIN status_block -->
<ul>
<!-- BEGIN status_list -->
	<li>{status:h}</li>
<!-- END status_list -->
</ul>
<!-- END status_block -->
<!-- BEGIN username_form -->
<p>Durch Eingabe Ihres Benutzernamens oder Ihrer E-Mailadresse erhalten Sie
eine E-Mail mit Angabe Ihres Benutzernamens sowie einem Link, über den das
Passwort zurückgesetzt werden kann. </p>
<form method="post" action="func_pagelink(user_login, send_confirmation_link)">
<table class="Vertical">
	<tr>
		<th><label for="username_input">Benutzername oder Email-Adresse:</label></th>
		<td><input type="text" id="username_input" name="username" value="{prefill}"/></td>
	</tr>
	<tr>
		<th></th>
		<td class="Submit"><input type="submit" value="Bestätigungs-Link schicken" class="Button" /></td>
	</tr>
</table>
</form>
<!-- END username_form -->
<!-- BEGIN password_form -->
<form method="post" action="func_pagelink(user_login, change_password)">
<div>
	<input type="hidden" name="key" value="{confirmation_key}" />
</div>
<table class="Vertical">
	<tr>
		<th><label for="form_password">Passwort:</label></th>
		<td><input type="password" name="password" class="Text" id="form_password" /></td>
	</tr>
	<tr>
		<th><label for="form_password_repeat">Passwort bestätigen:</label></th>
		<td><input type="password" name="password_repeat" class="Text" id="form_password_repeat" /></td>
	</tr>
	<tr>
		<td></td>
		<td class="Submit">
			<input type="submit" class="Button" value="Passwort setzen" />
		</td>
	</tr>
</table>
</form>
<!-- END password_form -->

<!-- BEGIN confirmation_link_mail_success -->
<p>Die E-Mail mit dem Bestätigungs-Link wurde erfolgreich versandt.</p>
<!-- END confirmation_link_mail_success -->
<!-- BEGIN confirmation_link_mail_failure -->
<p class="Error">Beim Versenden der E-Mail mit dem Bestätigungs-Link ist ein Fehler aufgetreten. Bitte versuchen Sie es später erneut!</p>
<!-- END confirmation_link_mail_failure -->
<!-- BEGIN invalid_confirmation_key -->
<p>Der angegebene Bestätigungs-Code ist ungültig.</p>
<!-- END invalid_confirmation_key -->