<!-- BEGIN status_block -->
<ul>
<!-- BEGIN status_list -->
	<li>{status:h}</li>
<!-- END status_list -->
</ul>
<!-- END status_block -->
<!-- BEGIN username_form -->
<p>After submitting your username or your stored email-address you will receive an email with your account name and a confirmation link which will allow you to set a new password.</p>
<form method="post" action="func_pagelink(user_login, send_confirmation_link)">
<table class="Vertical">
	<tr>
		<th><label for="username_input">Username or Email-address:</label></th>
		<td><input type="text" id="username_input" name="username" value="{prefill}" /></td>
	</tr>
	<tr>
		<th></th>
		<td class="Submit"><input type="submit" value="Send confirmation link" class="Button" /></td>
	</tr>
</table>
</form>
<!-- END username_form -->
<!-- BEGIN password_form -->
<form method="post" action="func_pagelink(user_login, change_password)">
<div>
	<input type="hidden" name="key" value="{confirmation_key}" />
</div>
<table class="Vertical">
	<tr>
		<th><label for="form_password">Password:</label></th>
		<td><input type="password" name="password" class="Text" id="form_password" /></td>
	</tr>
	<tr>
		<th><label for="form_password_repeat">Confirm password:</label></th>
		<td><input type="password" name="password_repeat" class="Text" id="form_password_repeat" /></td>
	</tr>
	<tr>
		<td></td>
		<td class="Submit">
			<input type="submit" class="Button" value="Change password" />
		</td>
	</tr>
</table>
</form>
<!-- END password_form -->

<!-- BEGIN confirmation_link_mail_success -->
<p>The mail with the confirmation link was successfully sent.</p>
<!-- END confirmation_link_mail_success -->
<!-- BEGIN confirmation_link_mail_failure -->
<p class="Error">An error occured while sending the mail with the confirmation link. Please try again later!</p>
<!-- END confirmation_link_mail_failure -->
<!-- BEGIN invalid_confirmation_key -->
<p>The submitted confirmation key is invalid.</p>
<!-- END invalid_confirmation_key -->