<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
	<title></title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>

<body>
<p>Welcome to testMaker, {name}!</p>

<p>You or somebody else has used your email address ({email_address}) to create a testMaker user account with username {user_name}.</p>

<p>To activate the account, please click on the following link:</p>

<p><a href="{link:h}">{link:h}</a></p>

<p>Please activate this account within seven days. If you choose not to do so, e.g. because the account was not created by you, it will be deleted after this period.</p>

<p><i>The testMaker team</i></p>
</body>

</html>
