<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
	<title></title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
</head>

<body>
<p>Willkommen beim testMaker!</p>

<p>Sie oder jemand anderes hat Ihre E-Mail-Adresse ({email_address}) genutzt, 
  um einen Test im testMaker zu starten.</p>

<p>Falls Sie den Test nicht gestartet haben, k&ouml;nnen Sie diese E-Mail ignorieren.</p>

<p>Falls Sie den Test gestartet haben, können Sie ihn fortsetzen bzw. sich Ihre Ergebnisr&uuml;ckmeldung anschauen. Dazu haben Sie zwei M&ouml;glichkeiten:</p>

<ol>
	<li>Sie loggen sich mit Ihrer TAN auf der folgenden Internetseite ein.<br />TAN: <b>{tan}</b><br />Internetseite für den Start per TAN: <a href="{tan_portal_link:h}">{tan_portal_link:h}</a></li>
	<li>Alternativ können Sie &uuml;ber folgenden Link direkt zu Ihrem Test bzw. Ihrer R&uuml;ckmeldung gelangen:<br /><a href="{tan_direct_link:h}">{tan_direct_link:h}</a></li>
</ol>

<p><i>Das testMaker-Team</i></p>
</body>

</html>
