<form method="post" action="func_pagelink(user_login)">
<input type="hidden" name="action" value="login" />
<table class="Vertical">
	<tr>
		<th><label for="form_login_username">Benutzername</label></th>
		<td><input type="text" name="username" id="form_login_username" class="textfield" value="{form_login_username:h}" /></td>
	</tr>
	<tr>
		<th><label for="form_login_password">Passwort</label></th>
		<td><input type="password" name="password" id="form_login_password" class="textfield" /></td>
	</tr>
	<tr>
		<th></th>
		<td class="Submit"><input type="submit" class="Button" value="Einloggen" /></td>
	</tr>
</table>
</form>
