<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
	<title></title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
</head>

<body>
<p>Welcome to testMaker!</p>

<p>You or somebody else used your mail address ({email_address}) to start a test at testMaker.</p>

<p>If you are not the one who started the test you can ignore this mail.</p>

<p>If you started the test, you can resume this test. You have two options to do this:</p>

<ol>
	<li>You login at the follwing website by using your TAN.<br />TAN: <b>{tan}</b><br />Website for starting by TAN: <a href="{tan_portal_link:h}">{tan_portal_link:h}</a></li>
	<li>Just as well you can use the following link to run the test directly:<br /><a href="{tan_direct_link:h}">{tan_direct_link:h}</a></li>
</ol>

<p><i>The testMaker team</i></p>
</body>

</html>
