<?xml version="1.0" encoding="ISO-8859-15"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Seite: {page_name}, Aktion: {action_name} -->
<html>

<head>
	<title>testMaker Datenschutzerklärungen</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-15" />
	<link rel="stylesheet" type="text/css" href="portal/css/main.css" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<style type="text/css">
		img {
			padding: 1px;
			border: 1px solid #3375cc;
		}
	</style>
</head>

<body>
<script type="text/javascript" src="portal/js/main.js"></script>

<div id="Popup">
<div style="position:fixed;top:0;left:0;right:0;padding:1em;background-color:white;margin-bottom:-4em;"><h2 style="margin:0">Datenschutzerklärung</h2></div>
<div style="padding:1em;padding-top:4em;padding-bottom:4em">

<!-- BEGIN infobox -->
<div class="toc">
<b>Version:</b> {pp_version}<br>
<b>Erstellt am:</b> {creationdate}<br>
<b>Gültig bis:</b> {closingdate}<br>
<b>Datenvorhaltedauer:</b> {expiration_range} Monate<br>
<b>Betreffende User:</b> {usercount}<br>
</div>
<!-- END infobox -->
<p>

<!-- BEGIN invalid_pp -->
Es wurde keine gültige Datenschutzerklärung ausgewählt.
<!-- END invalid_pp -->

{content}

</div>
<div style="position:fixed;bottom:0;left:0;right:0;padding:1em;padding-top:0;text-align:center;background-color:white;margin-top:-4em"><hr /><a href="javascript:window.close()">Fenster schließen</a></div>
</div>
</body>

</html>
