<div style="padding-left:15px"><li><h4>func_T(pages.view_item_template.title)</h4></li></div>
<!-- INCLUDE TabBar.html -->
<div class="Card">
	<p>func_T(pages.manage_item_templates.view_template_desc)</p>
	
	<table style="width:450px;height:70px">
		<tr>
			<td style="width:70px">Name:</td>
			<td>{templatename:h}</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="width:70px">Vorschau&nbsp;Bild:</td>
			<td>
				<div>
					<img src="{imagelink:h}" alt="Vorschau Bild" title="Vorschau Bild" style="width:150px;height:150px;border:solid;border-width:1px;border-color:#CCCCCC" />
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2"><p>Beschreibung</p></td>
		</tr>
		<tr>
			<td style="width:70px">Deutsch:</td>
			<td>{description_de:h}</td>
		</tr>
		<tr>
			<td style="width:70px">Englisch:</td>
			<td>{description_en:h}</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
	<table>
		<td>
			<form method="post" action="func_pagelink(item_template_management, manage_templates)">
					<input name="back" class="Button" type="submit" name="do_back" value="func_T(buttons.back)" />
				</form>
		</td>
	</table>
</div>
